:root {
  --font-family: "Inter" ;
  --second-family: "Headland" ;
  --main-title-color:#0a3853 ;
  --main-text-color:  #000 ;
  --secondary-text-color:#fff ;
}
.header-button {
  border-color: #26c7ea;
  color: #26c6ea;
  background-color: #0b0e66;
  width: 141px;
  height: 41px;
  border-top-left-radius: 41px;
  border-bottom-right-radius: 40px;
  margin: 330px, 306px;
}
.hero-section-button {
  border-color: #26c7ea;
  font-family: "Inter";
  color: #26c6ea;
  background-color: #0b0e66;
   border-top-left-radius: 41px;
  border-bottom-right-radius: 40px;
  width: 260px;
  height: 80px;
  margin: 330px, 306px;
  margin-bottom: 179px;
}
.container {
  width: 1052px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  width: 1440px;
  height: 150px;
  background-color: white;
  background-image: linear-gradient( to top,rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.97)), url(../images/headerimage.png);;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 40px ;
  padding-left: 204px;
  padding-right: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.quote1 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #0a3853;
margin-left: 105px;
}
.quote1-part2 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #0a3853;
}
.quote2-part2 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #141414;
margin-left: 260px;
}
.quote2 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #141414;
margin-left: 50px;
}
.quote3 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #141414;
}
.quote3-part2 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-align: justify;
color: #141414;
margin-left: 60px;
}
.header-links {
 text-decoration: none;
  font-family: "Inter";
font-weight: 300;
font-size: 20px;
color: #fff;
margin-right: 36px;

}
.translations-list-text {
  font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-align: justify;
color: #141414;
padding-bottom: 40px;
padding-top: 40px;
}
.footer {
  background-color: white;
  background-image: linear-gradient( to top,rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.97)), url(../images/footerbackground.png)  ;;
  background-repeat: no-repeat;
  width: 1440px;
}
.hero-section {
  background-image: url(../images/herosectionimage.png) ;
  background-position: center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 740px;
  display: flex;
  margin: 0 auto;
}
.header-position {
  display: flex;
  align-items: center;
}
.quote {
  padding-bottom: 35px;
  margin: 75px;
  display: flex;
  align-content: center;
  background-image:url(../images/bird.png) ;
  background-size: 450px;
    background-position-y: 130px;
    background-position-x: 365px;
  background-position: bottom center ;
  background-repeat: no-repeat;
}
.nav-list {
 margin-left: 168px;
 margin-right: 20px;
  column-gap: 40px;
  display: flex;
  align-items: center;
}
.hero-section-text1 {
  margin-top: 186px;
  width: 298px;
  height: 96px;
  font-weight: 400;
font-size: 20px;
color: #fff;
font-family: "Inter";
}
.hero-section-text2 {
  width: 376px;
  height: 123px;
  font-weight: 400;
font-size: 20px;
color: #fff;
font-family: "Inter";
}
.sub-title {
  font-family: "Inter";
  font-weight: 400;
font-size: 24px;
text-align: center;
color: #000;
}
.translation {
  margin: auto;
  width: 1440px;
  height: 704px;
  background-image:url(../images/backgroundfortranslation.png) ;
  background-position: center;
  align-content: center;
}
.sub-title {
  padding-bottom: 96px;
  padding-top: 16px;
}
.translations-list-text {
  padding-left: 100px;
  padding-top: 40px;
  font-family: "Inter";
}
.switcher {
  margin: 49px;
}
.hero-section {
  background-color: #ffff;
}
.header-links:hover {
  font-weight: 600px;
  color: #94cfff;
}
.translations-list {
  display: flex;
  flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 36px / 3));
  column-gap: 36px;
  row-gap: 24px;
}
.translations-list-item-right {
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);;
  background-image: url(../images/arrowtoleft.png) ;
  background-position: center;
  background-repeat: no-repeat;
}
.translations-list-item-left {
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);;
  background-image:url(../images/arrowtoright.png) ;
  background-position: center;
  background-repeat: no-repeat;
}
.translations-list-item-center {
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);;
  background-image: url(../images/smallbird.png) ;
  background-position: center;
  background-repeat: no-repeat;
}
.learning-navi {
  width: 285px;
  height: 40px;
  font-family: "HeadlandOne";
font-weight: 400;
font-size: 32px;
color: #141414;
margin-bottom: 81px;
margin-left: 370px;
text-align: center;
}
.socials-list-item {
  margin-bottom: 24px;
}
.address-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
text-align: justify;
color: #fff;
}
.mail {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
text-align: justify;
color: #fff;
}
.copyright {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
text-align: justify;
color: #fff;
}
.trailer {
  background-image: url(../images/trailer.png);
  width: 1440px;
  height: 741px;
  margin: 0 auto;
  padding-bottom: 331px;
  padding-top: 330px;
  padding-right: 590px;
  padding-left: 590px;
}
.trailer-link {
 display: inline-block;
 width: 260px;
 height: 80px;
padding-top: 25px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
  background-color: #0A0A64; 
  color: #00CFFF; 
  border: 2px solid #00CFFF; 
  text-decoration: none;
 font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
border-top-left-radius: 41px;
  border-bottom-right-radius: 40px;
}
.footer {
  width: 1440px;
  height: 223px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 35px;
}
.address-list {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding: 0px;
  margin-top: 55px;
}
.copyright {
  margin-left: 350px;
  margin-right: 3px;
}
.trailer-img {
  margin: 0 auto;
}
.footer-position {
  display: flex;
}
.footer-div {
  height: 153px;
  width: 0px;
  outline: 1px solid white;
  margin-top: 15px;
}
.address-item1 {
  background-image: url(../images/footerlines.png) ;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 665px;
  height: 24px;
  background-size: 245px;
  background-position: 140px;
  margin-bottom: 16px;
}
.hero-section-position {
  justify-content: space-between;
  display: flex;
  align-items: center; 
}
.address-item2 {
  background-image: url(../images/footerlines.png) ;
  background-position: 205px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 689px;
  height: 24px;
  background-size: 200px;
  background-position: 205px;
}
.mail {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
text-align: justify;
color: #fff;
}
.footer-logo {
  margin-right: 80px;
  margin-top: 52px;
}
.translations-list-text2 {
  font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-align: justify;
color: #141414;
padding-bottom: 40px;
padding-top: 80px;
padding-left: 105px;
}

